<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/"  class="btn btn-link">Main page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>07/01/2022</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium architecto at consequatur cupiditate deserunt doloremque ea exercitationem fuga illo libero, necessitatibus nulla, numquam placeat qui quia, quidem tempora voluptatibus!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium architecto at consequatur cupiditate deserunt doloremque ea exercitationem fuga illo libero, necessitatibus nulla, numquam placeat qui quia, quidem tempora voluptatibus!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium architecto at consequatur cupiditate deserunt doloremque ea exercitationem fuga illo libero, necessitatibus nulla, numquam placeat qui quia, quidem tempora voluptatibus!</p>
  </div>

</div>


